<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">

    <a class="navbar-brand fw-bold" routerLink="/livres">
      ijaa khoudh kteeb
    </a>

    <div class="d-flex gap-2">

      <button routerLink="/livres" class="btn btn-sm btn-primary">
        Livres
      </button>

      <button routerLink="/ajouter-livre" class="btn btn-sm btn-primary">
        Ajouter Livre
      </button>

      <button routerLink="/auteurs" class="btn btn-sm btn-primary">
        Auteurs
      </button>

      <button routerLink="/ajouter-auteur" class="btn btn-sm btn-primary">
        Ajouter Auteur
      </button>

    </div>

  </div>
</nav>